{
    "influxdb-extension": {
        "hostname": "influxdb.mydomain.tld",
        "port": "8086",
        "ssl": false,
	"ssl_ca_file": "<trusted ca certificates file>",
        "ssl_verify": true,
        "database": "<influxdb database name>",
        "username": "<influxdb username>",
        "password": "<influxdb password>",
        "buffer_size": 100,
        "buffer_max_age": 10,
        "precision": "s",
        "additional_handlers": ["influxdb-proxy-nano"]
    },
    "influxdb-proxy-nano": {
      "proxy_mode": true,
      "precision": "n"
    }
}

