{
    "influxdb-extension": {
        "hostname": "influxdb.mydomain.tld",
        "port": "8086",
        "ssl": false,
	"ssl_cert": "<influxdb ssl pem file>",
        "database": "<influxdb database name>",
        "username": "<influxdb username>",
        "password": "<influxdb password>",
        "buffer_size": 100,
        "buffer_max_age": 10,
        "precision": "s"
    }
}

