{
    "influxdb-extension": {
        "hostname": "influxdb.mydomain.tld",
        "port": "8086",
        "ssl": false,
        "database": "<influxdb database name>",
        "username": "<influxdb username>",
        "password": "<influxdb password>",
        "buffer_size": 100,
        "buffer_max_age": 10,
        "precision": "s",
        "retry_file": "<retry payload file>"
    }
}
